# FPDP implementation

WE WILL USE STATISTICAL PARITY TO USE AS STATISTIC TO ASSESS FOR THE FAIRNESS

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

# Replace 'your_file.csv' with the name of your CSV file
df = pd.read_csv('C:\\Users\\yacco\\afi_project_1\\afi_final_project\\predictions_output_gradient_boosting.csv')

# Display the first few rows of the data
df.head()

,Job tenure,Age,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Group,Predicted_PD,True_Label
0,2,22,8900,8900,0,60,0.084828,0,0,0,0,0.268061,1
1,0,55,10400,9400,0,72,0.083889,0,0,0,0,0.350588,0
2,1,40,15990,14990,0,60,0.127142,0,1,0,0,0.204690,1
3,5,43,19999,23233,0,72,0.153289,0,0,0,0,0.391570,0
4,1,26,11800,4298,1,24,0.115528,0,0,0,0,0.109665,0

In [2]:
df_true = df.drop(columns=['Predicted_PD'])

In [3]:
df_true['Age_Group'] = pd.cut(df_true['Age'], bins=[0, 45, 100], labels=['Age < 45', 'Age â‰¥ 45'])

df_true = df_true.drop('Age', axis=1)

# Display the updated dataframe
df_true

,Job tenure,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Group,True_Label,Age_Group
0,2,8900,8900,0,60,0.084828,0,0,0,0,1,Age < 45
1,0,10400,9400,0,72,0.083889,0,0,0,0,0,Age â‰¥ 45
2,1,15990,14990,0,60,0.127142,0,1,0,0,1,Age < 45
3,5,19999,23233,0,72,0.153289,0,0,0,0,0,Age < 45
4,1,11800,4298,1,24,0.115528,0,0,0,0,0,Age < 45
...,...,...,...,...,...,...,...,...,...,...,...,...
2224,13,13170,7170,0,48,0.045833,0,1,1,1,0,Age â‰¥ 45
2225,12,2900,3135,0,36,0.065714,0,0,0,0,0,Age â‰¥ 45
2226,0,14900,10900,0,48,0.164167,0,0,0,0,0,Age < 45
2227,0,14990,13990,0,84,0.062667,0,1,1,0,0,Age â‰¥ 45
2228,17,8173,8173,0,48,0.080176,0,1,0,1,0,Age â‰¥ 45

In [4]:
df_true

,Job tenure,Car price,Funding amount,Down payment,Loan duration,Monthly payment,Credit event,Married,Homeowner,Group,True_Label,Age_Group
0,2,8900,8900,0,60,0.084828,0,0,0,0,1,Age < 45
1,0,10400,9400,0,72,0.083889,0,0,0,0,0,Age â‰¥ 45
2,1,15990,14990,0,60,0.127142,0,1,0,0,1,Age < 45
3,5,19999,23233,0,72,0.153289,0,0,0,0,0,Age < 45
4,1,11800,4298,1,24,0.115528,0,0,0,0,0,Age < 45
...,...,...,...,...,...,...,...,...,...,...,...,...
2224,13,13170,7170,0,48,0.045833,0,1,1,1,0,Age â‰¥ 45
2225,12,2900,3135,0,36,0.065714,0,0,0,0,0,Age â‰¥ 45
2226,0,14900,10900,0,48,0.164167,0,0,0,0,0,Age < 45
2227,0,14990,13990,0,84,0.062667,0,1,1,0,0,Age â‰¥ 45
2228,17,8173,8173,0,48,0.080176,0,1,0,1,0,Age â‰¥ 45

In [5]:
# Group by Age_Category and count the number of positive (1) and negative (0) predictions
contingency_table = pd.crosstab(df_true['Age_Group'], df_true['True_Label'])

contingency_table

True_Label    0    1
Age_Group
Age < 45    792  291
Age â‰¥ 45    996  150

In [6]:
# Perform the Chi-Square test
chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

# Output the results
print("Contingency Table:\n", contingency_table)
print(f"Chi-Square Statistic: {chi2_stat}")
print(f"P-Value: {p_value}")

Contingency Table:
 True_Label    0    1
Age_Group
Age < 45    792  291
Age â‰¥ 45    996  150
Chi-Square Statistic: 65.76389945625829
P-Value: 5.083082193293602e-16

In [15]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# Recreate the best Gradient Boosting model
best_gb_model = GradientBoostingClassifier(
    learning_rate=0.05,
    max_depth=3,
    min_samples_split=2,
    n_estimators=200,
    subsample=0.8,
    random_state=42
)

X = df_true.drop('True_Label', axis=1)
y = df_true['True_Label']

X['Age_Group'] = le.fit_transform(X['Age_Group'])

best_gb_model.fit(X, y)

GradientBoostingClassifier(learning_rate=0.05, n_estimators=200,
                           random_state=42, subsample=0.8)

In [16]:
# This statistical parity formula determines the predicted default rate for both Group 0 and Group 1,
# and the difference between the predicted PD's would then be determined if statistically significant
# through a Chi Square test.

# Function to perform Chi-Square test for fairness
def chi_square_test(variable, predictions):
    contingency_table = pd.crosstab(variable, predictions)
    chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)
    return chi2_stat, p_value, dof, expected

In [17]:
marriage_levels = np.unique(df_true['Married'])
p_values = []

for married in marriage_levels:
    # Fix income to a specific value and predict binary outcomes using the model
    X_temp = df_true.copy()
    X_temp['Married'] = married  # Fix income
    
    X_temp_feat = X_temp.drop('True_Label', axis=1)
    
    X_temp_feat['Age_Group'] = le.fit_transform(X_temp_feat['Age_Group'])

    predictions = best_gb_model.predict(X_temp_feat)

    # Perform Chi-Square test for fairness
    #chi2_stat, p_value, dof, expected = chi_square_test(X_temp['Age_Group'], predictions)
    #p_values.append(p_value)

array([0, 1], dtype=int64)

In [ ]:
# Plotting the FPDP
plt.figure(figsize=(12, 6))

# Fairness Metric (Demographic Parity)
plt.subplot(1, 2, 1)
plt.plot(unique_vals, fairness_scores, label="Demographic Parity")
plt.xlabel('Feature Value')
plt.ylabel('Fairness Metric (Demographic Parity)')
plt.title('FPDP - Fairness Across Feature Values')

# Chi-Square p-values
plt.subplot(1, 2, 2)
plt.plot(unique_vals, chi_square_stats, label="Chi-Square P-Value", color='r')
plt.xlabel('Feature Value')
plt.ylabel('P-Value')
plt.title('Chi-Square Test for Fairness')

plt.tight_layout()
plt.show()

Export model for future use

In [ ]:
import joblib

joblib.dump(model, 'my_model.pkl')